@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
body.login-page {
  height: 100vh;
  width: 100%;
  background: black;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--color-accent);
    background: radial-gradient(
      circle,
      var(--color-accent) -100%,
      rgba(16, 16, 16, 0.72) 58%
    );
  }

  section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: rgb(16, 16, 16);
    transition: 0.5s ease;
    border-radius: 24px;
    overflow: hidden;
    form {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-flow: column;
      width: 100%;
      padding: 40px 10%;
      transition: 0.5s ease-in-out;
      p.auth-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        width: 100%;
        border-radius: 5px;
        padding: 5px;
        background: var(--success);
        color: var(--primary-text);
        &.auth-error {
          background: #eb493b;
        }
      }
      span.back-to-login {
        position: relative;
        left: -50%;
        transform: translateX(50%);
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--color-accent);
        margin: 10px 0;
        cursor: pointer;
        transition: 0.2s ease;
        &:hover {
         filter: brightness(0.9);
        }
      }
      &.register {
        left: 100%;
        transform: translate(0%, -50%);
        top: 50%;
      }
      &.login {
        left: -100%;
        transform: translate(0, -50%);
        top: 50%;
      }
      &.active {
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 2;
      }
      h1 {
        font-size: 58px;
        color: white;
        span {
        background-image: linear-gradient(90deg, var(--color-accent), var(--color-accent));
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }
      div.input-container {
        width: 100%;
        div.wrapper {
          margin-bottom: 10px;
          ul {
            display: flex;
            flex-flow: column;
            width: 100%;
            transition: 0.2s ease;
            li {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              margin-top: 5px;
              gap: 5px;
              font-size: 14px;
              color: white;
              transition: 0.2s ease;
              &:first-child {
                margin-top: 0;
              }
              &.invalid {
                color: #f77069;
                svg {
                  stroke: #f77069;
                }
              }
              &.valid {
                margin-top: 0;
              }
            }
          }
          div.input {
            position: relative;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            transition: 0.2s ease;
            height: 50px;

            input {
              height: 100%;
              width: 100%;
              padding-left: 10px;
              border-radius: 10px;
              border-bottom: 2px solid transparent;
              transition: 0.2s ease;
              &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0px 1000px rgb(16, 16, 16) inset;
                -webkit-text-fill-color: white;
              }
            }
            label {
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              left: 20px;
              user-select: none;
              transition: 0.2s ease;
              cursor: text;
            }
            &.active {
              margin-top: 20px;
              input {
                background: transparent;
                border-bottom: 2px solid white;
                border-radius: 0;
                color: white;
              }
              label {
                top: 0px;
                left: 10px;
                font-size: 12px;
                color: white;
              }
              &.filled {
                input {
                  border-bottom: 2px solid var(--color-accent);
                  color: var(--color-accent);
                }
                label {
                  color: var(--color-accent);
                }
                span.toggle-visibility {
                  &:hover {
                    svg:hover {
                      stroke: var(--color-accent);
                    }
                  }
                }
              }
              span.toggle-visibility {
                &:hover {
                  svg:hover {
                    stroke: white;
                  }
                }
              }
            }
            span.toggle-visibility {
              svg {
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                stroke: gray;
                cursor: pointer;
                transition: 0.2s ease;
                &:hover {
                  stroke: black;
                }
              }
            }
          }
        }
      }
      span.forgot-password {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        font-size: 16px;
        color: white;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
          filter: brightness(1.1);
          color: var(--color-accent);
        }
      }
      button.login-button {
        position: relative;
        width: 100%;
        height: 50px;
        font-size: 20px;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.3s ease;
        color: white;
        margin-top: 20px;
        background-image: linear-gradient(90deg, var(--color-accent), var(--color-accent));
        &:hover {
          border-radius: 20px;
          &::before,
          &::after {
            padding: 3px;
            opacity: 1;
          }
          &::before {
            filter: blur(4px);
            opacity: 0.5;
          }
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-image: conic-gradient(
            from var(--angle),
            transparent 10%,
            var(--color-accent)
          );
          border-radius: 20px;
          padding: 0px;
          z-index: -1;
          animation: spin 5s linear infinite;
          opacity: 0;
          transition: 0.3s ease-in;
        }
        &:disabled {
          opacity: 0.45;
          cursor: not-allowed;
          filter: grayscale(0.2);
          pointer-events: none;
        }
      }
      span.go-register {
        color: white;
        margin-top: 20px;
        cursor: pointer;
        &:hover {
          color: var(--color-accent);
        }
        &::before {
          background: var(--color-accent);
          top: 100%;
        }
      }
      div.social-login {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        span {
          color: gray;
          margin: 10px 0;
        }
        button.social {
          position: relative;
          width: 100%;
          height: 45px;
          border-radius: 8px;
          font-size: 20px;
          color: white;
          text-transform: capitalize;
          background-color: var(--social-color);
          cursor: pointer;
          margin-bottom: 10px;
          &.social-google {
            transition: 0.1s ease;
            background: #ff3927;
          }
          &:hover {
            filter: brightness(0.9);
          }
          svg {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            path {
              fill: white;
            }
          }
        }
      }
    }
  }
}
