div#root {
  display: flex;
  aside {
    overflow: hidden;
    position: fixed;
    width: 250px;
    height: 100vh;
    background: var(--sidebar);
    transition: width 0.3s ease;

    div.top {
      position: relative;
      left: 0;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-flow: column;
      height: 100px;
      padding-left: 20px;
      border-bottom: 1px solid var(--border);
      cursor: pointer;
      width: calc(100% + 80px);
      transition: 0.3s ease;

      svg.menu {
        position: absolute;
        left: 100%;
        display: block;
        padding: 10px;
        height: 60px;
        width: 60px;
        color: var(--title);
        border-radius: 10px;

        &:hover {
          background: var(--button-hover);
        }
      }

      h2 {
        font-weight: 500;
        color: var(--title);
        font-size: 24px;
        white-space: nowrap;
        transition: opacity 0.3s ease;
        transform: translateX(0);
      }

      span {
        font-size: 14px;
        color: var(--tertiary-text);
        text-transform: lowercase;
        white-space: nowrap;
        transition: opacity 0.3s ease;
        transform: translateX(0);
      }
    }

    nav {
      width: 100%;
      padding-top: 20px;

      ul {
        display: flex;
        flex-flow: column;
        width: 100%;

        li {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 20px;
          padding-left: 60px;
          font-weight: 500;
          font-size: 20px;
          color: var(--secondary-text);
          cursor: pointer;
          border-left: 2px solid transparent;
          transition: 0.35s ease;
          overflow: hidden;
          svg {
            position: absolute;
            top: 50%;
            left: 20px;
            width: 26px;
            height: 26px;
            transform: translate(0, -50%);
            transition: 0.2s ease;
            z-index: 1;
          }

          span {
            position: relative;
            white-space: nowrap;
            max-width: 200px; /* qualquer valor maior que o texto */
            opacity: 1;
            z-index: 1;
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: var(--button-hover);
            transition: width 0.3s ease-out;
            z-index: 0;
          }

          &::before {
            content: "";
            position: absolute;
            top: 100%;
            transform: translateY(-2px);
            left: 0;
            width: 0;
            height: 2px;
            background: var(--color-accent);
            transition: width 0.4s ease-out;
            z-index: 2;
          }

          &.active {
            background: var(--button-hover);
            color: var(--primary-text);

            &::before {
               content: "";
               position: absolute;
               left: 0;
               top: 0;
               width: 3px;
               height: 100%;
               background: var(--color-accent);
               z-index: 2;
            }

            &:hover {
              color: var(--color-accent);
              background: var(--accent-bg);
            }
          }

          &:not(.active):hover {
            color: var(--primary-text);

            &::after {
              width: 100%;
            }
            &::before {
              width: 100%;
            }

            svg {
              stroke: var(--primary-text);
            }
          }
        }
      }
    }

    div.bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px;
      gap: 10px;
      height: 80px;
      width: 100%;
      border-top: 1px solid var(--border);
      overflow: hidden;
      transition: 0.3s ease;

      button.logout-btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 50px;
        padding: 10px 20px;
        gap: 10px;
        border: none;
        color: white;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        transition: 0.3s ease;
        background: rgba(255, 255, 255, 0.02);
        
        &:hover {
          background: var(--danger);
        }
        span {
          white-space: nowrap;
        }
      }
    }

    /* Estado colapsado — só sobrescreve o que muda */
    &:not(.active) {
      width: 100px;

      div.top {
        align-items: center;
        padding-left: 0;
        justify-content: center;
        border-bottom-color: transparent;
        height: 100px;
        left: -100%;
        &::before {
          content: "";
          position: absolute;
          top: calc(100% - 1px);
          left: 20px;
          width: 100%;
          height: 1px;
          background: var(--border);
        }

        svg.menu {
          display: block;
          padding: 10px;
          left: calc(100% - 60px);
          height: 60px;
          width: 60px;
          color: var(--title);
          border-radius: 10px;

          &:hover {
            background: var(--button-hover);
          }
        }

        h2,
        span {
          transform: translateX(-50%);
        }
      }

      nav {
        padding: 20px;

        ul {
          gap: 10px;

          li {
            padding: 0;
            height: 60px;
            border-radius: 8px;
            border: none;

            span {
              opacity: 0;
              transition: opacity 0.1s ease;
            }

            svg {
              stroke: var(--secondary-text);
              left: 50%;
              transform: translate(-50%, -50%);
            }

            &.active {
              background: var(--button-hover);
              border: 1px solid var(--border-focus);
              svg {
                stroke: var(--primary-text);
              }

              &:hover {
                background: var(--button-hover);
                border: 1px solid var(--border-focus);

                svg {
                  stroke: var(--border-focus);
                }
              }
            }

            &:not(.active):hover {
              background: var(--button-hover);
            }
          }
        }
      }

      div.bottom {
        justify-content: center;
        padding: 10px;

        button.logout-btn span {
          display: none;
        }
      }
    }
  }
}
